.theme-dark {
    .da-chat {
        background-color: transparent;
        position: relative;
        @if $bg-chat-main and map-has-key($bg-chat-main, data) {
            &:before {
                content:'';
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                background-image: url("data:image/jpg;base64," + map-get($bg-chat-main, 'data'));
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        & > .da-content {
            $contentBgColor: $black;
            $contentBgColorHover: lighten($contentBgColor, 5);
            $contentChatBgColor: $overlay-color;
            background: transparent;
            .da-messagesWrapper {
                background-color: $contentChatBgColor;
                .da-embedWrapper {
                    & > .da-embedVideo {
                        width: 100%!important;
                    }
                }
            }
            & > .da-spacer > form {
                & > .da-typing {
                    background-color: darken(desaturate($primary, 60%), 20%);
                    @include box-shadow(inset 0 1px 0 1px darken(desaturate($primary, 60%), 10%));
                    bottom: -4px;
                    left: 0;
                    right: 0;
                    width: calc(100% - 60px);
                    margin: 0 20px;
                    padding: 2px 10px 4px 10px;
                    @include border-radius(config(radius));
                    line-height: 1;
                    height: 24px;
                }
                background-color: $contentChatBgColor;
                margin-left: 0;
                margin-right: 0;
                padding-left: 20px;
                padding-right: 20px;
                &, .da-channelTextArea, .da-channelTextArea > .da-inner {
                    @include border-radius(config(radius));
                }
                .da-channelTextArea > .da-inner {
                    @include transition(all .12s ease-out);
                    background-color: $contentBgColor;
                    @include box-shadow(0 0 0 1px #000);
                    border: 1px solid lighten($contentBgColor, 20);
                    will-change: background-color;
                }
                &:hover {
                    .da-channelTextArea > .da-inner {
                        background-color: $contentBgColorHover;
                        @include box-shadow(0 0 0 1px #000);
                        border-color: lighten($contentBgColor, 35);
                    }
                }
            }
            & > .da-membersWrap {
                .da-members {
                    background: $contentChatBgColor;
                }
            }
        }
    }
}