.da-membersWrap .da-members {
    .da-member {
        margin:4px 2px;
        &, & > .da-content {
            @include transition(
                background-color .1s ease,
                box-shadow .1s ease
                );
            @include border-radius(2px);
        }
        &:hover, &.popout-open {
            $whiteOutlineOpacity: .45;
            @include box-shadow(inset 0 0 0 1px rgba(#fff, $whiteOutlineOpacity), 0 0 0 1px #000);
            & > .da-content {
                background-color: rgba(#111115, .75);
            }
            &.popout-open {
                $whiteOutlineOpacity: .8;
                @include box-shadow(inset 0 0 0 1px rgba(#fff, $whiteOutlineOpacity), 0 0 0 1px #000);
            }
        }
    }
}