.da-app > .da-app.theme-dark {
    $guildWrapper: 48px;
    $iconSub: 16px;
    $iconSize: $guildWrapper - $iconSub;
    $iconRad: config(icon-radius);
    & > .da-layers > .da-layer:first-child > .da-container:first-child {
        background: transparent;
    }
    & > .da-layers > .da-layer:first-child > .da-container > .da-wrapper {
        margin-bottom: 52px;
        @include border-radius(0);
        @if $full-screen-background {
            background-color: rgba($overlay-color, alpha($overlay-color) * 0.5);
        } @else {
            background-color: $black;
        }
        @include box-shadow(inset -2px 0 0 -1px lighten($black, 20));
        width: 48px!important;
        & > .da-scrollerWrap > .da-scroller {
            padding-left:0;
        }
        & > .da-scrollerWrap > .da-scroller > .da-container {
            &:before {
                width: 4px;
            }
            &.da-selected {
                &:before {
                    $selectedHeight: 20px;
                    height: $selectedHeight;
                    margin-top: -$selectedHeight/2;
                }
            }
            margin: $iconSub/2;
            @include transition(transform .12s ease-out);
            &:active {
                transform: scale(.875);
            }
            &:before {
                left: -6px;
                z-index: 999;
            }
            margin-bottom: $iconSub;
            &, & > .da-dragfix > .da-wrapper {
                background-color: transparent!important;
                @include border-radius($iconRad!important);
            }
            .da-homeButton {
                background-color: $black!important;
                @include transition(background-color .2s ease-out);
                &:hover {
                    background-color: $primary!important;
                }
            }
            &,
            .da-homeButton,
            .da-homeButton > .da-homeLink,
            .da-icon {
                width: $iconSize;
                height: $iconSize;
                @include border-radius($iconRad!important);
            }
            &,
            & > .da-dragfix,
            & > .da-dragfix > .da-wrapper,
            & > .da-dragfix > .da-wrapper > a {
                @include border-radius($iconRad!important);
            }
        }
    }
}