$black: #202020 !default;
$black-1: #212428 !default;
$primary: #3ECC9C !default;
$bg-chat-main: false !default;
$hide-modal-scrollbar: false !default;
$hide-channel-scrollbar: false !default;
$overlay-color: rgba(#000, .675) !default;
$_base-border-radius: 2 !default;
$base-border-radius: $_base-border-radius * 1px !default;
$icon-border-radius: 8px !default;