.theme-dark {
  // Modal Parent
  .da-modal {
    // Modal Inner (Actual Content)
    & > .da-inner {
      & > div > .da-wrapper > .da-item > .da-modal {
        background: $black;
      }
      .da-imageWrapper{
        background: darken($black, 10);
        border: 1px solid lighten($black, 20);
        @include box-shadow(0 0 0 1px #000);
        padding: 4px;
        &, img {
          @include border-radius(config(radius));
        }
      }
    }
  }
}
.theme-dark {
  & > .da-modal > .da-inner {
    & > .da-modal {
      & > .da-footer, & {
        background: darken($black, 2);
      }
    }
    &, & > .da-root {
      @include border-radius(config(radius));
    }
    & > .da-root {
      border: 1px solid lighten($black, 20);
      @include box-shadow(0 0 0 1px #000);
      & > .da-topSectionNormal,
      & > .da-body {
        background-color: $black;
      }
      & > .da-body {
        @if $hide-modal-scrollbar {
          @extend %noScrollbar;
        }
        .da-listRow {
          position: relative;
          overflow: hidden;
          padding: 10px 20px;
          margin: 10px 6px;
          @include box-shadow(0 0 0 1px #000);
          border: 1px solid lighten($black, 20);
          background: $black;
          & > .da-icon {
            position: relative;
            @include transition(transform .2s ease-out, opacity .2s ease-out);
            @include transform(scale(.675));
            opacity: .675;
          }
          &:hover {
            background: lighten($black, 5%);
            border: 1px solid lighten($black, 25);
            & > .da-icon {
              @include transform(scale(1));
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
